<!-- ハッシュタグ一覧 -->
<h1>ハッシュタグ #<%= @tag.hashtag_name %>: <%= @posts.count %></h1>

<% @posts.each do |post| %>
  <%= link_to user_path(post.user) do %>
    <%= image_tag post.user.get_profile_image(50, 50) %>
    <%= post.user.name %>
  <% end %>
  <%= link_to post_path(post.id) do %>
    <%= image_tag @post.images[0], size: '100*100' %>
    コメント: <%= post.post_comments.count %>
    いいね！: <%= post.favorites.count %>
    <%= l post.created_at %>
  <% end %>
<% end %>