<!-- 投稿詳細画面 -->
<h1>投稿詳細</h1>

<div class="post-content">
  <%= link_to my_page_path do %>
    <%= image_tag @post.user.get_profile_image(40, 40)%>
    <%= @user.name %>
  <% end %>
  <% if @post.images.attached? %>
    <%= image_tag @post.images[0], size: '100*100' %>
  <% end %>
  <% if @post.movie.attached? %>
    <%= image_tag @post.movie, size: '300*300' %>
  <% end %>
  <%= @post.content %>
  <%= @post.spot %>
</div>
<div class="post-destroy">
  <% if @post.user == current_user %>
    <%= link_to "destroy", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか?" } %>
  <% end %>
</div>
