<!-- 投稿詳細画面 -->
<div class="post-content py-5">
  <div class="card w-75 mx-auto mt-4 mb-4 shadow-lg">
    <div class="row">
      <div class="col-md-6">
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <%= image_tag image, class: "card-img-left user-post-img" %>
          <% end %>
        <% end %>
      </div>

      <div class="card-body">
        <div class="col-md-7 d-flex">
          <%= link_to user_path(@post.user.id) do %>
            <%= image_tag @post.user.get_profile_image(50, 50), class: "rounded-circle" %>
            <strong><%= @user.name %><strong>
          <% end %>
        </div>

        <hr>
        <p class="card-title"><%= @post.content %></p>
        <p class="card-title"><%= render_with_hashtags(@post.hashbody) %></p>
        <p class="card-title"><%= @post.spot %></p>
        <span><i class="fas fa-calendar mr-1"></i><%= l @post.created_at %>　|　</span>
        <span>
          <% if @post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(@post), method: :delete, class: "favorite-link" do %>
            <i class="fas fa-heart mr-1"></i><%= @post.favorites.count %>
          <% end %>
          <% else %>
            <%= link_to post_favorites_path(@post), method: :post, class: "favorite-link" do %>
              <i class="fas fa-heart mr-1"></i><%= @post.favorites.count %>
            <% end %>
          <% end %>
        </span>
        <span><i class="fas fa-comments mr-1"></i><%= @post.post_comments.count %>　|　</span>
        <span>
          <% if @post.user == current_user %>
            <%= link_to post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "text-dark" do %>
              <i class="fas fa-trash-can"></i>
            <% end %>
          <% end %>
        </span>

        <hr>
        <div class="post-comment card-text">
          <% @post.post_comments.each do |post_comment| %>
            <%= link_to user_path(post_comment.user.id), class: "profile-icon" do %>
              <%= image_tag post_comment.user.get_profile_image(50, 50) %>
              <%= post_comment.user.name %>
            <% end %>
            <%= l post_comment.created_at %>
            <%= post_comment.content %>
            <% if post_comment.user == current_user %>
              <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
            <% end %>
          <% end %>
        </div>

        <hr>
        <div class="field">
          <%= form_with model: [@post, @post_comment] do |f| %>
            <%= f.text_area :content, rows: '5', placeholder: "コメントを追加" %>
            <%= f.submit "投稿", class: "btn btn-dark btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>