<!--　通知画面テンプレ -->
<% visitor = notification.visitor %>
<% post = notification.post %>

<div class="notification-view clearfix">
  <%= link_to user_path(notification.visitor) do %>
    <%= image_tag visitor.get_profile_image(50, 50), class: "rounded-circle" %>
  <% end %>
  <%= notification_form(notification) %>
  <span class="moderate-font">
    <%= "#{time_ago_in_words(notification.created_at)} 前" %>
  </span><br />

  <% if !@post_comment.nil? %>
    <p><%= @post_comment %></p>
  <% end %>
<>