<!DOCTYPE html>
<html>
  <head>
    <title>bikeen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header> <!-- ヘッダー部分テンプレ -->
      <%= render 'layouts/header' %>
    </header>

    <main> <!-- メイン画面 -->
      <%= yield %>
    </main>

    <footer> <!-- フッター部分テンプレ -->
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
